<mat-toolbar class="main-toolbar">
  <span class="head" color="primary">Quots</span>
  <mat-icon class="quots-icon" color="primary">data_usage</mat-icon>
  
  <span class="example-spacer"></span>

  <!-- <span class="app-action">
    <button mat-icon-button color="primary">
      <mat-icon>account_circle</mat-icon>
    </button>
  </span> -->
</mat-toolbar>

<div class="content" > 

  <div *ngIf="loggedin; else loginform">
      <mat-drawer-container class="container">
          <mat-drawer mode="side" opened class="drawer">  
            <button mat-flat-button class="appsbutton" (click)="goTo('/applications')">
              Applications
            </button>
            <button mat-flat-button class="appsbutton" (click)="goTo('/users')">
              Users
            </button>
          </mat-drawer>
          <mat-drawer-content>
              <router-outlet></router-outlet>
          </mat-drawer-content>
      </mat-drawer-container>
    </div>
    
  </div>

  <ng-template #loginform>

      <div class="login-container ">
        <div class="empty"></div>
        <div class="login-card mat-elevation-z2">
            <div class="loginh">
                <h3>Welcome to Quots </h3>
              </div>
              <mat-form-field class="login-fields">
                  <input matInput placeholder="Username" type="string" class="example-right-align" [(ngModel)]='username'>
              </mat-form-field>
    
              <mat-form-field class="login-fields">
                <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [(ngModel)]='password'>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <button mat-raised-button class="login-butt" matTooltip="Login" (click)="login()">
                  <mat-icon>arrow_right</mat-icon>
              </button>
            </div>
        </div>
  </ng-template>


